@font-face {
    font-family: Montserrat;
    src: url('files/fonts/montserrat/Montserrat-Medium.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('files/fonts/montserrat/Montserrat-Bold.ttf');
    font-weight: bold;
}

p {
    font-family: 'Montserrat';
    text-align: left;
    font-size: large;
    line-height: 80%;
    color: white;
}

h1 {
    font-family: 'Montserrat';
    /*font-size: large;*/
    text-align: center;
    line-height: 20%;
    color: white;
}

h2 {
    font-family: 'Montserrat';
    font-size: large;
    text-align: center;
    line-height: 50%;
    color: gray;
}

body {
    /*outline: gray solid 2px;*/
    background-color: rgb(30, 30, 30);
}
/* https://stackoverflow.com/questions/5394116/outline-radius */
button, button:hover {
    border: none;
    border-radius: 5pt;
    cursor: pointer;

    background-color: rgb(50, 50, 50);
    color: white;
    font-family: 'Montserrat';
    text-align: center;

    box-shadow: 0 0 0 1pt grey;
    outline: none;
    transition: .1s;
}

button:hover {
    box-shadow: 0 0 3pt 2pt rgb(120, 0, 255);
    /*color: rgb(120, 0, 255);*/
}

kbd {
    padding: 0em 0.5em;

    border: 1px solid;
    border-radius: 5pt;
    border-color: rgb(120, 0, 255);

    background-color: rgb(50, 50, 50);

    color: white;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;

    outline: none;
    text-align: center;
    text-decoration: solid;
    /*text-shadow: 0 1px 0 #fff;*/
}

code {
    background-color: rgb(50, 50, 50);
    border-radius: 3px;
    font-family: consolas;
    font-size: initial;
    padding: 0 3px;
}

code.block {
    color: white;
    background-color: rgb(50, 50, 50);

    border: 1px solid;
    border-radius: 5pt;
    border-color: rgb(60, 60, 60);

    display: inline-block;

    font-family: consolas;
    padding: 0 3px;

    white-space: pre-line;
}

quote {
    border: 1px solid;
    border-radius: 5pt;
    border-color: rgb(60, 60, 60);

    background-color: rgb(50, 50, 50);
    font-style: italic;
    padding: 0em 0.2em;
}

hr {
    border: none;
    color: gray;

    background-color: gray;
    height: 1px;
}

footer {
    color: gray;
    font-family: 'Montserrat';
    font-size: small;
    text-align: center;

    /* https://css-tricks.com/snippets/css/fixed-footer/ */
    position: fixed;
    left:0px;
    bottom:10px;
    height:30px;
    width:100%;
}

a {
    color: rgb(120, 0, 255);
}

ul {
    color: white;
}

.unselectable { /* https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}